.item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 30px;
    border-bottom: 1px solid #ddd;
    padding: 5px 10px;
}
.active {
    background: #f8f8f8;
}
